*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #ecf0f3;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}


.container{
    width: 40em;
    height: 80%;
    border-radius: 1em;
    background-color: #ecf0f3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    position: relative;
}



/* styling the top container which include the searchbar and buttons ..........*/

.container .topbox{
    width: 100%;
    height: 15%;
    padding: 1em;
    border-radius: 1em;
}
.container .topbox .logotext{
    float: left;
    font-size: 2em;
    display: flex;
    align-items: center;
    color: #0091ff;
    height: 100%;
}
.container .topbox .search{
    float: right;
    width: 50%;
    height: 100%;
    padding: 0.1em;
}
.container .topbox .search input{
    width: 70%;
    height: 100%;
    border-radius: 0.5em;
    border: 1px solid #0091ff;
    background-color: transparent;
    padding-left: 0.5em;
    font-size: 1em;
    box-shadow: inset -2px -2px 12px #fff,
                inset -2px -2px 5px #fff,
                inset  2px 2px 12px rgba(0,0,0,0.16);
    outline: none;
    color: #007ad7;
}
.container .topbox .search input::placeholder{
    color: #0091ff;
}


.container .topbox .search .searchbutton{
    width: 28%;
    height: 100%;
    font-size: 1em;
    color: #ffffff;
    border-radius: 0.5em;
    background-color: #0091ff;
    border: none;
    box-shadow: inset 5px 5px 12px #4db3f8,
                5px 5px 12px rgba(0, 0, 0, 0.16);
}
.container .topbox .search .searchbutton:hover{
    background-color: #007ad7;
    box-shadow: inset 5px 5px 12px #39a1e6,
                5px 5px 12px rgba(0, 0, 0, 0.16);
}


/* Styling the middle container that contains the temperature, time and date ........ */


.innercontainer{
    width: 100%;
    height: 100%;
    z-index: 2;
}
.innercontainer .celsiusandtimebox{
    width: auto;
    height: 50%;
    border-radius: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background:linear-gradient(#00d5ff,#006aff);
    margin: 1em;
    position: relative;
    overflow: hidden;
    box-shadow: inset 5px 5px 12px #65b3fc,
                inset -4px -4px 10px #005bdb,
                5px 5px 12px rgba(0,0,0,0.16);
}
.innercontainer .celsiusandtimebox .innerdiv{
    width: 100%;
    height: 40%;
    position: absolute;
    bottom: 1em;
    padding: 0 5%;
}
.innercontainer .celsiusandtimebox .innerdiv .celsius,.dateandtime{
    width: 30%;
    height: 100%;
    float: left;
}
.innercontainer .celsiusandtimebox .innerdiv .celsius .celsiusvaluebox{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    font-size: 4em;
}
.innercontainer .celsiusandtimebox .innerdiv .celsius .celsiusvaluebox img{
    width: 0.5em;
    height: 1em;
}

.innercontainer .celsiusandtimebox .innerdiv .celsius .city{
    width: 100%;
    height: 40%;
    font-size: 1.5em;
    display: flex;
    align-items: center;
}

.innercontainer .celsiusandtimebox .innerdiv .dateandtime{
    float: right;
}
.innercontainer .celsiusandtimebox .innerdiv .dateandtime .time{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: end;
    justify-content: end;
    font-size: 1.5em;
}
.innercontainer .celsiusandtimebox .innerdiv .dateandtime .date{
    width: 100%;
    height: 40%;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    justify-content: end;
}


/* Styling the bottom container which contains the humidity , wind speed, cloud , etc. details .....................*/

.innercontainer .otherdetails{
    width: auto;
    height: 40%;
    padding: 1em;
    display: grid;
    row-gap: 0.5em;
    column-gap: 1em;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 50% 50%;
}
.innercontainer .otherdetails .smallcontainer{
    height: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 1em;
    box-shadow: inset 5px 5px 12px #fff,
                5px 5px 12px rgba(0,0,0,0.16);
}
.innercontainer .otherdetails .smallcontainer .logo{
    width: 35%;
    height: 100%;
}
.innercontainer .otherdetails .smallcontainer .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.innercontainer .otherdetails .smallcontainer .details{
    width: 75%;
    height: 100%;
    float: left;
}
.innercontainer .otherdetails .smallcontainer .details .propertyname{
    width: 100%;
    height: 40%;
    font-size: 0.8em;
    color: rgb(124, 124, 124);
    display: flex;
    align-items: center;
}
.innercontainer .otherdetails .smallcontainer .details .propertyvalue{
    width: 100%;
    height: 60%;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

/* Media query stylings for  mobile devices .............*/

@media (max-width: 480px){
    .container{
        width: 25em; 
        gap: 1em;
    }
    .container .topbox{
        position: absolute;
        top:-2em;
        width: 24em;
        height: 15%;
        padding: 0.5em;
        border-radius: 1em;
    }
    .innercontainer{
        width: 25em;
        height: 100%;
        z-index: 2;
        margin-top: 5em;
    }
    .container .topbox .search{
        margin-top: 1em;
        width: 100%;
        height: 2.5em;
    }
    .innercontainer .celsiusandtimebox > *{
        font-size: 0.7em;
    }
    .innercontainer .otherdetails{
        width: auto;
        height: 60%;
        padding: 1em;
        display: grid;
        row-gap: 0.5em;
        column-gap: 1em;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 30% 30% 30%;
    }
    .innercontainer .otherdetails .smallcontainer .logo{
        width: 25%;
        height: 100%;
    }
    .innercontainer .otherdetails .smallcontainer .details{
        margin-left: 0.5em;
        font-size: 2em;
        width: 75%;
        font-size: 0.9em;
    }
    .innercontainer .otherdetails .smallcontainer .details .propertyname{
        font-size: 0.8em;
    }
}

/* Media query stylings for tablet devices ..............*/

@media (min-width: 481px) and (max-width: 640px){
    .container{
        width: 30em;
        gap: 1em;
    }
    .container .topbox{
        position: absolute;
        top:-2em;
        width: 29em;
        height: 15%;
        padding: 0.5em;
        border-radius: 1em;
    }
    .innercontainer{
        width: 30em;
        height: 100%;
        z-index: 2;
        margin-top: 5em;
    }
    .container .topbox .search{
        width: 100%;
        height: 3em;
    }
    .innercontainer .celsiusandtimebox > *{
        font-size: 0.7em;
    }
    .innercontainer .otherdetails{
        width: auto;
        height: 60%;
        padding: 1em;
        display: grid;
        row-gap: 0.5em;
        column-gap: 1em;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: 30% 30% 30%;
    }
    .innercontainer .otherdetails .smallcontainer .logo{
        width: 25%;
        height: 100%;
    }
    .innercontainer .otherdetails .smallcontainer .details{
        margin-left: 0.5em;
        font-size: 2em;
        width: 75%;
        font-size: 0.9em;
    }
    .innercontainer .otherdetails .smallcontainer .details .propertyname{
        font-size: 0.8em;
    }
}


